/* ВСЕ РАЗМЕРЫ САЙТА СДЕЛАНЫ ДЛЯ УДОБСТВА МОЕГО ) */


/* rod-bloc-six Run */

.san-blocSixDivoneOne-textone{
    font-size: 14px;
    line-height: 19.69px ;
    margin-left: 78px;

}
.san-blocSixDivoneOne-texttwo{
    font-size: 48px;
    line-height: 57.6px;
    white-space: pre;
    margin-left: 78px;

}
.san-blocSixDivoneOne-textthree{
    font-size: 18px;
    line-height: 25.31px;
    margin-left: 78px;

}

.san-blocSixDivtwoBox-textone {}

.san-blocSixDivtwoBox-textotwo {}

.san-blocSixDivtwoBox-textothree {}


/* end */

/* Размеры дивов  Run */



/* rod-bloc-six Run */
.san-blocSix-divtwo {
   margin-top: 40px;
}
 


.san-blocSixDivtwo-box {
    width: 570px;
    height: 290px;

}

/* end  */

/* rod-bloc-seven run */

.rod-bloc-seven {
    height: 410px;
}

.san-blocSeven-one {
    width: 614px;
    height: 39px;
}

.san-blocSeven-two {
    width: 1000px;
    height: 0;
    border: 1px solid #000000;
    background-color: #000000 ;
}

.san-blocSevenOne-logo {
    width: 53px;
    height: 39px;
    margin: 0 121px;

}


.san-blocSevenOne-textone {
    right: 20px;
}


.san-blocSevenOne-texttwo {

}

.san-blocSevenOne-texttree {
    
}

.san-blocSevenOne-textfour {
    left:  20px;
    
}





/*  end */